.tab-container {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
  
    > input[type="radio"] {
        display: none;
    }
  
    > label {
        justify-self: center;
        align-self: center;
        padding: 0 0.5rem 0.25rem;
        border-bottom: 1px solid transparent;
        cursor: pointer;
        transition: border 300ms ease;
    }
  
   .tabs {
      flex-basis: 100%;
      padding: 0.5rem;

      > * {
          display: none;
      }
    }
  
    > input[type="radio"]:checked {
      + label {
        border-bottom-color: black;
      }

      @for $i from 1 through 4 {
          &:nth-of-type(#{$i}) ~ .tabs > *:nth-child(#{$i}) {
            display: block;
        }
      }
    }
}